name: Deploy Nutrifit (Self-Hosted)

on:
  push:
    branches: [main, master]
  workflow_dispatch:

jobs:
  deploy:
    runs-on: self-hosted
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Criar .env com secrets
        run: |
          cat > .env <<EOF
          POSTGRES_USER=${{ secrets.POSTGRES_USER }}
          POSTGRES_PASSWORD=${{ secrets.POSTGRES_PASSWORD }}
          POSTGRES_DB=${{ secrets.POSTGRES_DB }}
          POSTGRES_PORT=${{ secrets.POSTGRES_PORT }}
          POSTGRES_HOST=${{ secrets.POSTGRES_HOST }}
          REDIS_PORT=${{ secrets.REDIS_PORT }}
          SMTP_APP_PASSWORD=${{ secrets.SMTP_APP_PASSWORD }}
          FRONT_API_URL=${{ secrets.FRONT_API_URL }}
          FRONT_PORT=${{ secrets.FRONT_PORT }}
          VAPID_PUBLIC_KEY=${{ secrets.VAPID_PUBLIC_KEY }}
          VAPID_PRIVATE_KEY=${{ secrets.VAPID_PRIVATE_KEY }}
          MINIO_ROOT_USER=${{ secrets.MINIO_ROOT_USER }}
          MINIO_ROOT_PASSWORD=${{ secrets.MINIO_ROOT_PASSWORD }}
          MINIO_BUCKET_NAME=${{ secrets.MINIO_BUCKET_NAME }}
          MINIO_PUBLIC_ENDPOINT=${{ secrets.MINIO_PUBLIC_ENDPOINT }}
          EOF

      - name: Subir stack
        run: |
          docker compose --env-file .env up -d --build
          docker compose ps
